HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!modules/identity/src/main/**/build/
!modules/identity/src/test/**/build/
.gradle-cache

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!modules/identity/src/main/**/bin/
!modules/identity/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!modules/identity/src/main/**/out/
!modules/identity/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.env

stripe/*
!stripe/stripe.exe

/local-storage
/storage
